$primary:#222222;
$secondary: #4E4E4E;
$font: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    background-color: $primary;
    font-family: 'Roboto', sans-serif;
    color-scheme: dark;
    &::-webkit-scrollbar {
        display: none;
    }
}

.todo-box{
    max-width: 32rem;
    margin: auto;

    > div{
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 1.75rem;
        padding-right: 0.5rem;
    }

    > div > h2{
        color: $font;
        margin: auto 0;
        font-weight: normal;
    }

    > form{
        position: -webkit-sticky;
        position: sticky;
        top: 5%;
        width: 31rem;
        background-color: $secondary;
        padding: 0.5rem;
        border-radius: 0.25rem;
        display: flex;
        justify-content: space-between;

        > input{
            font-size: 1.5rem;
            color: $font;
            background-color: transparent;
            border: none;
            flex-grow: 1;
            margin-right: 0.5rem;
            &:focus{
                outline: none;
            }
        }
    }

    > hr{
        border-color: $secondary;
        margin: 1rem 0 1rem 0;
    }
}

#mylist{
    margin: 0;
    padding: 0;
    > li{
        margin: 0;
        margin-top: 0.5rem;
        border-radius: 0.25rem;
        padding: 0 0.25rem 0 0.25rem;
        background: $secondary;
        display: flex;
        justify-content: space-between;
        
        .check-and-text{
            display: flex;
            align-items: center;
            color: $font;
            font-size: 1.25rem;
            > input{
                height: 1.25rem;
                width: 1.25rem;
                margin-right: 0.75rem;
                accent-color: $font;
            }
        }

        .checked{
            text-decoration:line-through;
        }

        > div > button{
            font-size: 1.25rem;
            margin: 0.5rem 0.25rem;
            
        }
    }

}

.btn{
    height: 3rem;
    width: 3rem;
    border: 1px solid;
    border-radius: 4px;
    background: none;
    color: $font
}

